<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144762480-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-144762480-1');
</script>
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<title>{{ page.title | default: site.title }}</title>
{% seo %}